<!DOCTYPE html>
<html>
<head>
<center>
	<font color="white" size="5" style="font-family: Arial, Helvetica, sans-serif">
		<body style="background: #474e5d;">
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Add Emp Output</title>
			<!-- need change -->
				<form action="/" autocomplete="on" method = "GET">

					<button type="submit" style="background: #0A66C2; height: 45px; width: 200px; color:white; border-radius: 100px;">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
